@charset "UTF-8";
body {
  color: white;
  background-color: #323131;
  background-image: url(../assets/Diseño\ sin\ título\ \(1\).png);
  background-size: cover;
}
body p {
  font-family: "Platypi", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

main {
  margin-top: 5%;
  border-bottom-style: groove;
  border-color: rgb(136, 131, 131);
  padding-bottom: 2%;
}
main h1 {
  display: flex;
  justify-content: end;
  margin-top: 3%;
  margin-bottom: 3%;
}
main .coppy {
  color: #e63a3a;
}
main h1 {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-right: 1%;
}
main h1:hover {
  color: #e63a3a;
}

.navar {
  padding-top: 3%;
  border-bottom-style: groove;
  border-color: rgb(136, 131, 131);
  padding-bottom: 2%;
}
.navar .nav-link {
  color: white;
}
.navar .navbar-toggler {
  color: #e63a3a;
  border-color: #e63a3a;
}
.navar nav img {
  width: 10%;
}
.navar .botoncolor {
  background-color: white;
}
.navar .btn-primary {
  margin-top: 20px;
  color: white;
  background-color: #e63a3a;
  border: #e63a3a;
}
.navar ion-icon {
  margin-top: 10px;
  color: #e63a3a;
  font-size: 30px;
}
.navar .lupabuscar {
  font-size: 20px;
  color: rgb(141, 140, 140);
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 8%;
}
footer ion-icon {
  margin-top: 10px;
  color: #e63a3a;
}
footer ion-icon:hover {
  color: rgba(34, 29, 29, 0.9098039216);
}

.inicioft {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.inicioft img {
  width: 45%;
  height: 610px;
  border-radius: 1%;
}

.espacioinicio p {
  display: flex;
  justify-content: center;
  font-size: 20px;
}

.imgserv {
  display: flex;
  justify-content: center;
}

.imgs img {
  border-radius: 2%;
  margin-bottom: 2%;
}

.itemsserv {
  display: flex;
  justify-content: space-evenly;
}

.itemsserv img {
  height: 500px;
  width: 32%;
  border-radius: 1%;
  margin-bottom: 2%;
  margin-top: 1%;
}

.grid5 {
  display: inline;
}

.obrasgrid {
  margin-right: 2%;
  margin-top: 1%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: " letras1 imguno  imgdos" "letra2 imgtres imgcuatro" "letra3 imgcinco  imgocho" "letra4 imgseis  imgsiete";
  align-items: center;
  justify-items: start;
}

.obrasgrid img {
  border-radius: 1%;
  height: 600px;
  width: 100%;
}

.grid00 {
  grid-area: letras1;
}

.grid01 {
  grid-area: letra2;
}

.grid02 {
  grid-area: letra3;
}

.grid03 {
  grid-area: letra4;
}

.grid1 {
  grid-area: imguno;
}

.grid2 {
  grid-area: imgdos;
}

.grid3 {
  grid-area: imgtres;
}

.grid4 {
  grid-area: imgcuatro;
}

.grid5 {
  grid-area: imgcinco;
}

.grid6 {
  grid-area: imgocho;
}

.grid7 {
  grid-area: imgseis;
}

.grid8 {
  grid-area: imgsiete;
}

.ion {
  font-size: 64px;
}

.obrass {
  display: flex;
  flex-direction: row-reverse;
}

.espacionosotros {
  display: flex;
  flex-direction: column;
}

.espacionosotros div {
  margin-top: 3%;
  margin-bottom: 5%;
}

.espacionosotros img {
  width: 100%;
  height: 950px;
}

.espacionosotros p {
  font-size: 19px;
}

.ubicontact {
  display: flex;
  align-items: flex-start;
  margin-left: 1%;
}

.grandcont {
  display: flex;
  justify-content: flex-start;
}

.grandcont {
  font-size: 27px;
}

.inmensaje {
  margin-top: 20px;
}

.btn-primary {
  margin-top: 20px;
  color: white;
  background-color: #e63a3a;
  border: #e63a3a;
  --bs-btn-hover-bg:#7c2b2b;
  --bs-btn-hover-border-color:#7c2b2b;
}

.chicocont {
  font-size: 13px;
}

@media (min-width: 320px) {
  .imgs img {
    border-radius: 2%;
    margin-bottom: 2%;
  }
  .imgserv {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card p {
    font-size: 10px;
  }
  .card {
    background-color: #393939;
    margin: 19px;
    width: 18rem;
  }
  .card:hover {
    transform: scale(1.1);
  }
  a {
    color: #e63a3a;
    list-style-type: none;
    color: #e63a3a;
    text-decoration: none;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
  }
  a:hover {
    color: brown;
  }
  nav img {
    width: 25%;
  }
  ion-icon {
    margin-top: 5%;
    color: #e63a3a;
    font-size: 25px;
  }
  .coppy1 {
    color: rgb(112, 111, 111);
    font-size: 0px;
  }
  .coppy {
    color: rgb(112, 111, 111);
    padding-right: 1%;
    font-size: 8px;
  }
  .espacioinicio p {
    margin-bottom: 1%;
    margin-top: 3%;
    padding-right: 4%;
    padding-left: 5%;
    font-size: 10px;
  }
  h1 {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-right: 1%;
    font-size: 17px;
    padding-bottom: 5%;
    padding-right: 1%;
  }
  .inicioft {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .inicioft img {
    width: 90%;
    height: 260px;
    border-radius: 2%;
    margin-top: 2%;
  }
  .navbar-toggler {
    font-size: 43%;
    color: #e63a3a;
    border-color: #e63a3a;
  }
  .navar .navbar-toggler {
    color: #393939;
    border-color: #393939;
    background-color: #e63a3a;
  }
  .me-auto {
    font-size: 18px;
    font-family: "Poetsen One", sans-serif;
    padding-top: 1%;
    padding-left: 3%;
  }
  .espacionosotros {
    display: flex;
    flex-direction: column;
  }
  .espacionosotros div {
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 2%;
    margin-right: 4%;
  }
  .espacionosotros img {
    width: 98%;
    height: 250px;
    padding-right: 2%;
    padding-left: 2%;
  }
  .nosotros {
    background-color: #393939;
    border-radius: 1%;
  }
  .nosotrosfondo {
    color: #e63a3a;
    background-color: transparent;
    font-size: 80%;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-left: 3%;
    padding-top: 5%;
    padding-bottom: 4%;
  }
  .espacionosotros p {
    font-size: 60%;
    padding-right: 3%;
    padding-left: 3%;
    background-color: #393939;
    border-radius: 4%;
  }
  .obrasgrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: " letras1 imguno  imgdos" "letra2 imgtres imgcuatro" "letra3 imgcinco  imgocho" "letra4 imgseis  imgsiete";
    align-items: center;
    justify-items: flex-start;
  }
  .obrasgrid p {
    margin-left: 5%;
    font-size: 8px;
    background-color: #393939;
  }
  .obrass p {
    font-size: 6px;
  }
  .obrass {
    display: flex;
    flex-direction: row;
    margin-top: 2%;
  }
  .obrasgrid img {
    border: 2px solid;
    height: 179px;
    width: 100%;
  }
  .grid00 {
    grid-area: letras1;
  }
  .grid01 {
    grid-area: letra2;
  }
  .grid02 {
    grid-area: letra3;
  }
  .grid03 {
    grid-area: letra4;
  }
  .grid1 {
    grid-area: imguno;
  }
  .grid2 {
    grid-area: imgdos;
  }
  .grid3 {
    grid-area: imgtres;
  }
  .grid4 {
    grid-area: imgcuatro;
  }
  .grid5 {
    grid-area: imgcinco;
  }
  .grid6 {
    grid-area: imgocho;
  }
  .grid7 {
    grid-area: imgseis;
  }
  .grid8 {
    grid-area: imgsiete;
  }
  div textarea {
    font-size: 12px;
  }
  iframe {
    width: 60%;
    height: 88px;
  }
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 41%;
    align-items: end;
  }
  .ubicontact {
    display: flex;
    flex-direction: column;
    margin-left: 1%;
  }
  .grandcont {
    font-size: 25px;
    margin-bottom: 4%;
  }
  .chicocont {
    font-size: 12px;
  }
  .borders {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
  }
}
@media (min-width: 375px) {
  .imgs img {
    border-radius: 2%;
    margin-bottom: 2%;
  }
  .itemsserv {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .itemsserv img {
    height: 360px;
    width: 93%;
    border-radius: 1%;
    margin-bottom: 2%;
    margin-top: 1%;
  }
  nav img {
    width: 23%;
  }
  ion-icon {
    margin-top: 10px;
    color: #e63a3a;
    font-size: 28px;
  }
  .espacioinicio p {
    display: flex;
    flex-direction: row;
    margin-bottom: 1%;
    margin-top: 3%;
    font-size: 8px;
  }
  h1 {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-right: 1%;
    font-size: 100%;
  }
  .inicioft {
    display: flex;
    flex-direction: column;
  }
  .inicioft img {
    width: 80%;
    height: 300px;
    border-radius: 1%;
  }
  .navbar-toggler {
    font-size: 66%;
    color: #e63a3a;
    border-color: #e63a3a;
  }
  .espacionosotros {
    display: flex;
    flex-direction: column;
  }
  .espacionosotros div {
    margin-top: 1%;
    margin-bottom: 1%;
  }
  .espacionosotros img {
    width: 98%;
    height: 250px;
    padding-right: 3%;
    padding-left: 3%;
  }
  .espacionosotros p {
    font-size: 8px;
    padding-right: 2%;
    padding-left: 2%;
  }
}
@media (min-width: 1024px) {
  .imgserv {
    display: flex;
    justify-content: center;
  }
  .imgs img {
    border-radius: 2%;
    margin-bottom: 2%;
  }
  .itemsserv {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .itemsserv img {
    height: 555px;
    width: 33%;
    border-radius: 1%;
    margin-bottom: 2%;
    margin-top: 1%;
  }
  nav img {
    width: 10%;
  }
  .me-auto {
    font-size: 22px;
    font-family: "Poetsen One", sans-serif;
    padding-top: 1%;
    padding-left: 4%;
  }
  ion-icon {
    margin-top: 10px;
    color: #e63a3a;
    font-size: 35px;
  }
  .coppy1 {
    color: rgb(112, 111, 111);
    font-size: 16px;
  }
  .coppy {
    color: rgb(112, 111, 111);
    padding-right: 1%;
    font-size: 16px;
  }
  div textarea {
    font-size: 17px;
  }
  .espacionosotros p {
    font-size: 19px;
    margin-left: 1%;
  }
  .espacioinicio p {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1%;
    margin-top: 3%;
  }
  h1 {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-right: 1%;
    font-size: 38px;
  }
  .espacioinicio p {
    display: flex;
    justify-content: start;
    font-size: 17px;
    padding-left: 2%;
  }
  .inicioft {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .inicioft img {
    width: 45%;
    height: 610px;
    border-radius: 1%;
  }
  .inicioft img:hover {
    transform: scale(1.01);
  }
  .nosotros {
    background-color: #393939;
    border-radius: 1%;
  }
  .espacionosotros {
    display: flex;
    flex-direction: column;
  }
  .espacionosotros div {
    margin-top: 3%;
    margin-bottom: 5%;
    margin-left: 3%;
    margin-right: 5%;
  }
  .espacionosotros img {
    width: 100%;
    height: 900px;
    padding-right: 5%;
    padding-left: 3%;
  }
  .nosotrosfondo {
    color: #e63a3a;
    background-color: transparent;
    font-size: 27px;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .espacionosotros p {
    font-size: 20px;
  }
  .obrasgrid {
    margin-right: 2%;
    margin-top: 1%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: " letras1 imguno  imgdos" "letra2 imgtres imgcuatro" "letra3 imgcinco  imgocho" "letra4 imgseis  imgsiete";
    align-items: center;
    justify-items: start;
  }
  .obrasgrid p {
    font-size: 18px;
  }
  .obrass p {
    font-size: 15px;
  }
  .obrass {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 1%;
  }
  .obrasgrid img {
    border-radius: 1%;
    height: 600px;
    width: 100%;
  }
  .grid00 {
    grid-area: letras1;
  }
  .grid01 {
    grid-area: letra2;
  }
  .grid02 {
    grid-area: letra3;
  }
  .grid03 {
    grid-area: letra4;
  }
  .grid1 {
    grid-area: imguno;
  }
  .grid2 {
    grid-area: imgdos;
  }
  .grid3 {
    grid-area: imgtres;
  }
  .grid4 {
    grid-area: imgcuatro;
  }
  .grid5 {
    grid-area: imgcinco;
  }
  .grid6 {
    grid-area: imgocho;
  }
  .grid7 {
    grid-area: imgseis;
  }
  .grid8 {
    grid-area: imgsiete;
  }
  iframe {
    width: 30%;
    height: 100px;
  }
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 6%;
    align-items: end;
  }
  .ubicontact {
    display: flex;
    flex-direction: column;
  }
  .grandcont {
    font-size: 35px;
    margin-bottom: -1%;
  }
  .chicocont {
    font-size: 18px;
  }
  .borders {
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 1%;
    padding-right: 1%;
  }
  h1 {
    display: flex;
    justify-content: end;
    margin-top: 3%;
    margin-bottom: 3%;
  }
  h1 {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-right: 1%;
  }
  h1:hover {
    color: #e63a3a;
  }
  .imgserv {
    display: flex;
    flex-direction: row;
  }
  .card {
    background-color: #393939;
    margin: 17px;
    width: 50%;
    border-radius: 2%;
  }
  .card p {
    font-size: 14px;
    display: flex;
    flex-direction: row;
  }
  .card:hover {
    transform: scale(1.01);
  }
  a {
    color: #e63a3a;
    list-style-type: none;
    color: #e63a3a;
    text-decoration: none;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
  }
  a:hover {
    color: brown;
  }
}

/*# sourceMappingURL=styles.css.map */
