body {
  color: rgb(255, 255, 255);
  background-color: rgb(50, 49, 49);
}
body p {
  font-family: "Platypi", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

main {
  margin-top: 5%;
}
main h1 {
  display: flex;
  justify-content: end;
  margin-top: 3%;
  margin-bottom: 3%;
}
main h1 {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-right: 1%;
}
main .ubicontact {
  display: flex;
  flex-direction: column;
  margin-left: 1%;
}
main .grandcont {
  font-size: 27px;
  margin-bottom: 2%;
}
main .inmensaje {
  margin-top: 20px;
}
main .btn-primary {
  margin-top: 20px;
  color: white;
  background-color: #e63a3a;
  border: #e63a3a;
  --bs-btn-hover-bg:#7c2b2b;
  --bs-btn-hover-border-color:#7c2b2b;
}
main .chicocont {
  font-size: 13px;
}
main .inicioft {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
main .inicioft img {
  width: 45%;
  height: 610px;
  border-radius: 1%;
}
main .imgserv {
  display: flex;
  justify-content: center;
}
main .w-50 {
  width: 50% !important;
}
main .imgs img {
  border-radius: 2%;
  margin-bottom: 2%;
}
main .itemsserv {
  display: flex;
  justify-content: space-evenly;
}
main .itemsserv img {
  height: 500px;
  width: 32%;
  border-radius: 1%;
  margin-bottom: 2%;
  margin-top: 1%;
}
main .espacioinicio p {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1%;
  margin-top: 3%;
}
main .grid5 {
  display: inline;
}
main .obrasgrid {
  margin-right: 5%;
  margin-top: 8%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: " letras1 imguno  imgdos" "letra2 imgtres imgcuatro" "letra3 imgcinco  imgocho" "letra4 imgseis  imgsiete";
  align-items: center;
  justify-items: start;
}
main .obrasgrid img {
  border-radius: 1%;
  height: 600px;
  width: 100%;
}
main .grid00 {
  grid-area: letras1;
}
main .grid01 {
  grid-area: letra2;
}
main .grid02 {
  grid-area: letra3;
}
main .grid03 {
  grid-area: letra4;
}
main .grid1 {
  grid-area: imguno;
}
main .grid2 {
  grid-area: imgdos;
}
main .grid3 {
  grid-area: imgtres;
}
main .grid4 {
  grid-area: imgcuatro;
}
main .grid5 {
  grid-area: imgcinco;
}
main .grid6 {
  grid-area: imgocho;
}
main .grid7 {
  grid-area: imgseis;
}
main .grid8 {
  grid-area: imgsiete;
}
main .ion {
  font-size: 64px;
}
main .obrass {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 5%;
}
main .espacionosotros {
  display: flex;
  flex-direction: column;
}
main .espacionosotros div {
  margin-top: 3%;
  margin-bottom: 5%;
}
main .espacionosotros img {
  width: 2000px;
  height: 950px;
}

.navar {
  background-color: #2b2b2b;
}
.navar .nav-link {
  color: white;
}
.navar .navbar-toggler {
  color: #e63a3a;
  border-color: #e63a3a;
}
.navar nav img {
  width: 11%;
}
.navar .botoncolor {
  background-color: rgb(255, 255, 255);
}
.navar .btn-primary {
  margin-top: 20px;
  color: white;
  background-color: #e63a3a;
  border: #e63a3a;
}
.navar ion-icon {
  margin-top: 10px;
  color: #e63a3a;
  font-size: 30px;
}
.navar .lupabuscar {
  font-size: 20px;
  color: rgb(141, 140, 140);
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 8%;
}
footer ion-icon {
  margin-top: 10px;
  color: #e63a3a;
  font-size: 30px;
}

/*# sourceMappingURL=styles.css.map */
