.ubicontact{
    display: flex;
   align-items:  flex-start;
    margin-left: 1%;
    }
    .grandcont{
        display: flex;
       justify-content: flex-start;
    }
    .grandcont{
        font-size: 43px;
    }
    .inmensaje{
        margin-top: 20px;
    }
    .btn-primary{
        margin-top: 20px;
        color: nth($paletacolores, 1);
        background-color: $coloriconos;
        border: $coloriconos;
        --bs-btn-hover-bg:#7c2b2b;
        --bs-btn-hover-border-color:#7c2b2b;

    }
    .chicocont{
        font-size: 20px;
    }
    .boxcontacto{
        display:flex ;
        flex-direction: column;
        align-items: flex-start;
    }
    .boxcontacto{
        background-color: #0006;
        width: 55%;
        height: 550px;
        margin-left: 20%;
    }
    form{
        width: 51%;
        padding: 20px;
    }