@media(min-width:320px){
    .imgs img{
        border-radius: 2%;
        margin-bottom: 2%;
    }
    .imgserv{
        display: flex;
        flex-direction: column;
       align-items:center;
        
    }
    .card p{
        font-size: 10px;
    }
    .card{
        background-color: $colornav;
        margin: 19px;
        width: 18rem;
     }
     .card:hover{
        transform: scale(1.1);
     }
     a{
        color: #e63a3a;
        list-style-type:none;
        color: #e63a3a;
        text-decoration: none;
        font-family: "Poetsen One", sans-serif;
         font-weight: 400;
        font-style: normal;
        font-size: 13px;
     }
     a:hover{
        color: brown;
     }
    nav img{
        width: 25%;
    }
    ion-icon{
        margin-top: 5%;
        color: $coloriconos;
        font-size: 25px;
    }
    .coppy1{
        color: rgb(112, 111, 111);
        font-size: 0px;
    }
    .coppy{
        color: rgb(112, 111, 111);
        padding-right: 1%;
        font-size: 8px;
    }
    .espacioinicio p{
        margin-bottom: 1%;
        margin-top: 3%; 
        padding-right: 4%;
        padding-left: 5%;
        font-size: 10px;
    }
    h1{
        font-family: "Poetsen One", sans-serif;
        font-weight: 400;
        font-style: normal;
        margin-right: 1%;
        font-size: 17px;
        padding-bottom: 5%;
        padding-right: 1%;
     }
     .inicioft{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .inicioft img{
        width: 90%;
        height: 260px;
        border-radius: 2%;
        margin-top: 2%;
        }
        .navbar-toggler{
            font-size: 43%;
            color: $coloriconos;
            border-color: $coloriconos;
        }
        .navar .navbar-toggler {
            color:$colornav;
            border-color: $colornav;
            background-color:#e63a3a;
        }
        .me-auto{
            font-size: 18px;
            font-family: "Poetsen One", sans-serif;
            padding-top: 1%;
            padding-left: 3%;
        }
        .espacionosotros{
            display: flex;
            flex-direction: column;
        }
        .espacionosotros div{
            margin-top: 10%;
            margin-bottom: 10%;
            margin-left: 2%;
            margin-right: 4%;

        }
        
        .espacionosotros img{
            width: 98%;
            height: 250px;
            padding-right: 2%;
            padding-left: 2%;
        }      
        .nosotros{
            background-color:$colornav;
            border-radius: 1%;
         }
        .nosotrosfondo {
            color: #e63a3a;
            background-color: transparent;
            font-size: 80%;
            font-family: "Poetsen One", sans-serif;
            font-weight: 400;
            font-style: normal;
            padding-left: 3%;
            padding-top: 5%;
            padding-bottom:4% ;
        }
        .espacionosotros p{
            font-size: 60%;
            padding-right: 3%;
            padding-left: 3%;
            background-color: $colornav;
            border-radius: 4%;

        }      
        .obrasgrid{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(4, 1fr);
            grid-template-areas: 
            " letras1 imguno  imgdos"
            "letra2 imgtres imgcuatro"
            "letra3 imgcinco  imgocho"
            "letra4 imgseis  imgsiete";
            align-items: center;
            justify-items:flex-start;
        }
        .obrasgrid p{
            margin-left: 5%;
            font-size:12px;
            background-color:$colornav;
        }
        .obrass p{
            font-size: 9px;
        }
        .obrass {
            display: flex;
            flex-direction: row;
            margin-top: 2%;

        }
        .obrasgrid img{
            border:  2px solid;
            height: 179px;
            width: 100%;
        }
        .grid00{
        grid-area: letras1;
        }
        .grid01{
            grid-area: letra2;
        }
        .grid02{
        grid-area: letra3;
        }
        .grid03{
            grid-area: letra4;
        }
        .grid1 {
          grid-area: imguno;  
        }
        .grid2 {
            grid-area: imgdos;
        }
        .grid3 {
            grid-area: imgtres;
        }
        .grid4 {
            grid-area: imgcuatro;   
        }
        .grid5{
            grid-area: imgcinco;
        }
        .grid6{
            grid-area: imgocho;
        }
        .grid7{
            grid-area: imgseis;
        }
        .grid8{
            grid-area: imgsiete;
        } 
        div textarea{
            font-size: 12px;
        } 
        iframe{
            width: 60%;
            height: 88px;
        }
        footer{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 41%;
            align-items: end;
        }
        .ubicontact{
        display: flex;
        flex-direction: column;
        margin-left: 1%;
        }
        .grandcont{
            font-size: 25px;
            margin-bottom: 4%;
        }
        .chicocont{
            font-size: 12px;
        }
        .borders{
            padding-top: 2%;
            padding-bottom: 2%;
            padding-left: 2%;
            padding-right: 2%;
        }
}
@media(min-width: 375px){
    .imgs img{
        border-radius: 2%;
        margin-bottom: 2%;
    }
    .itemsserv{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        
    }
    .itemsserv img {
        height: 360px;
        width: 93%;
        border-radius: 1%;
        margin-bottom: 2%;
        margin-top: 1%;
    }
    nav img{
        width: 23%;
    }
    ion-icon{
        margin-top: 10px;
        color: $coloriconos;
        font-size: 28px;
    }
    .espacioinicio p{
        margin-bottom: 1%;
        margin-top: 6%;
        padding-right: 6%;
        padding-left: 6%;
        font-size: 11px;
    }
    .card{
        background-color: $colornav;
        margin: 19px;
        width: 21rem;
     }
    h1{
        font-family: "Poetsen One", sans-serif;
        font-weight: 400;
        font-style: normal;
        margin-right: 1%;
        font-size: 100%;
     }
     .inicioft{
        display: flex;
        flex-direction: column;
    }
    .inicioft img{
        width: 90%;
        height: 310px;
        border-radius: 1%;
        margin-top: 5%;
        }
        .navbar-toggler{
            font-size: 66%;
            color: $coloriconos;
            border-color: $coloriconos;
        }
        .espacionosotros{
            display: flex;
            flex-direction: column;
        }
        .espacionosotros div{
            margin-top: 1%;
            margin-bottom: 1%;
        }
        
        .espacionosotros img{
            width: 98%;
            height: 250px;
            padding-right: 3%;
            padding-left: 3%;
    }       
        .espacionosotros p{
            font-size: 8px;
            padding-right: 2%;
            padding-left: 2%;
        }      
    }

@media(min-width: 1024px){
        .imgserv{
            display: flex;
            justify-content: center;
        }
        .imgs img{
            border-radius: 2%;
            margin-bottom: 2%;
        }
        .itemsserv{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            
        }
        .itemsserv img{
            height: 555px;
            width: 33%;
            border-radius: 1%;
            margin-bottom: 2%;
            margin-top: 1%;
            
        }
        nav img{
            width: 10%;
        }
        .me-auto{
            font-size: 22px;
            font-family: "Poetsen One", sans-serif;
            padding-top: 1%;
            padding-left: 4%;
        }
        ion-icon{
            margin-top: 10px;
            color: $coloriconos;
            font-size: 35px;
        }
        .coppy1{
            color: rgb(112, 111, 111);
           font-size: 16px;

        }
        .coppy{
            color: rgb(112, 111, 111);
            padding-right: 1%;
            font-size: 16px;
        }
        div textarea{
            font-size: 17px;
        }
        .espacionosotros p{
            font-size: 19px;
            margin-left: 1%;
        }   
        .espacioinicio p{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 1%;
            margin-top: 3%;  
        }
        h1{
            font-family: "Poetsen One", sans-serif;
            font-weight: 400;
            font-style: normal;
            margin-right: 1%;
            font-size: 38px;
         }
         .espacioinicio p{
            display: flex;
            justify-content: start;
            font-size: 17px;
            padding-left: 2%;
        }
         .inicioft{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
        .inicioft img{
        width: 45%;
        height: 610px;
        border-radius: 1%;
        }
        .inicioft img:hover{
            transform: scale(01.01);
        }
        .nosotros{
            background-color:$colornav;
            border-radius: 1%;
         }
        .espacionosotros{
            display: flex;
            flex-direction: column;
        }
        .espacionosotros div{
            margin-top: 3%;
            margin-bottom: 5%;
            margin-left: 3%;
            margin-right: 5%;
        }
        
        .espacionosotros img{
                width: 100%;
                height: 900px;
                padding-right: 5%;
                padding-left: 3%;
        }       
        .nosotrosfondo {
            color: #e63a3a;
            background-color: transparent;
            font-size: 27px;
            font-family: "Poetsen One", sans-serif;
            font-weight: 400;
            font-style: normal;
        }
        .espacionosotros p{
            font-size: 20px;
        }
        .obrasgrid{
            margin-right: 2%;
            margin-top: 1%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(4, 1fr);
            grid-template-areas: 
            " letras1 imguno  imgdos"
            "letra2 imgtres imgcuatro"
            "letra3 imgcinco  imgocho"
            "letra4 imgseis  imgsiete";
            align-items: center;
            justify-items: start;
        }
        .obrasgrid p{
            font-size: 18px;
        }
        .obrass p{
            font-size: 15px;
        }
        .obrass {
            display: flex;
            flex-direction: row-reverse;
            margin-right: 1%;
        }
        .obrasgrid img{
            border-radius: 1%;
            height: 600px;
            width:100%
        }
        .grid00{
        grid-area: letras1;
        }
        .grid01{
            grid-area: letra2;
        }
        .grid02{
        grid-area: letra3;
        }
        .grid03{
            grid-area: letra4;
        }
        .grid1 {
          grid-area: imguno;  
        }
        .grid2 {
            grid-area: imgdos;
        }
        .grid3 {
            grid-area: imgtres;
        }
        .grid4 {
            grid-area: imgcuatro;   
        }
        .grid5{
            grid-area: imgcinco;
        }
        .grid6{
            grid-area: imgocho;
        }
        .grid7{
            grid-area: imgseis;
        }
        .grid8{
            grid-area: imgsiete;
        }
        iframe{
            width:30%;
            height: 100px;
        }
        footer{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 6%;
            align-items: end;
        }
        .ubicontact{
        display: flex;
        flex-direction: column;
        }
        .grandcont{
            font-size: 35px;
            margin-bottom: -1%;
        }
        .chicocont{
            font-size: 18px;
        }
        .borders{
            padding-top: 3%;
            padding-bottom: 3%;
            padding-left: 1%;
            padding-right: 1%;
        }
        h1{
            display: flex;
            justify-content: end;
            margin-top: 3%;
            margin-bottom: 3%;
        }
            h1{
                font-family: "Poetsen One", sans-serif;
                font-weight: 400;
                font-style: normal;
                margin-right: 1%;
             }
             h1:hover{
               color:$coloriconos;
             }
             .imgserv{
                display: flex;
               flex-direction: row;
            }
           
             .card{
                background-color: $colornav;
                margin: 17px;
                width: 50%;
                border-radius: 2%;
             }
             .card p{
                font-size: 14px;
               display: flex;
               flex-direction: row;
             }
             .card:hover{
                transform: scale(01.01);
             }
             a{
                color: #e63a3a;
                list-style-type:none;
                color: #e63a3a;
                text-decoration: none;
                font-family: "Poetsen One", sans-serif;
                 font-weight: 400;
                font-style: normal;
                font-size: 16px;
             }
             a:hover{
                color: brown;
             }
}
