$coloriconos:#e63a3a;
$colorbody:#323131;
$colornav: #393939;
$colorhoverenviar:#ff0404;
$paletacolores:white,rgb(141, 140, 140);


body{
    color: nth($paletacolores, 1);
    background-color: $colorbody;
    background-image: url(../assest/Diseño\ sin\ título\ \(1\).png);
    background-size: cover;
    p{
        font-family: "Platypi", serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
    }
}
    main{
        margin-top: 5%;
        border-bottom-style: groove;
        border-color: rgb(136, 131, 131);
        padding-bottom: 2%;
    h1{
        display: flex;
        justify-content: end;
        margin-top: 3%;
        margin-bottom: 3%;
    }
    .coppy{
        color:$coloriconos;
    }
        h1{
            font-family: "Poetsen One", sans-serif;
            font-weight: 400;
            font-style: normal;
            margin-right: 1%;
         }
         h1:hover{
           color:$coloriconos;
         }
         }
.navar{
    padding-top: 3%;
    border-bottom-style: groove;
    border-color: rgb(136, 131, 131);
    padding-bottom: 2%;
    .nav-link{
        color: nth($paletacolores, 1);
    }
    .navbar-toggler{
        color: $coloriconos;
        border-color: $coloriconos;
    }
    nav img{
        width: 10%;
    }
    .botoncolor{
     background-color:nth($paletacolores, 1);
    }
    .btn-primary{
        margin-top: 20px;
        color: nth($paletacolores, 1);
        background-color: $coloriconos;
        border: $coloriconos;
    }
    ion-icon{
        margin-top: 10px;
        color: $coloriconos;
        font-size: 30px;
    }
    .lupabuscar{
        font-size: 20px;
        color: nth($paletacolores, 2);
    }
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 8%;
    ion-icon{
        margin-top: 10px;
        color: $coloriconos;
    }
    ion-icon:hover{
        color: #221d1de8
    }
}
@import"inicio";
@import"servicio";
@import"obras";
@import"nosotros";
@import"contacto";
@import "media";